[submodule "libs/markstream-vue"]
	path = libs/markstream-vue
	url = git@github.com:AQBot-Desktop/markstream-vue.git
	branch = aqbot-custom
[submodule "libs/stream-monaco"]
	path = libs/stream-monaco
	url = git@github.com:AQBot-Desktop/stream-monaco.git
	branch = main
